.header-dark {
  position: relative;
  height: 50px;
  width: 100%;
  background-color: #2b3a67;
}

.header-light {
  height: 20px;
  width: 100%;
  background-color: #66999b;
}

.header-logo {
  position: absolute;
  border-color: transparent;
  top: 0;
}
