.results-cards {
    margin-left: 2rem;
    padding-right: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.voting-results table {
  border-collapse: collapse; 
  font-weight: 700; 
}

.results-cell {
    padding: 1rem;
    border: 1px solid #2b3a67;
    text-align: center;
    
}