.card-item {
  width: 97px;
  height: 161px;
  margin-right: 13px;
  margin-top: 30px;
}
.main-card {
  background-image: url("../../../../../../public/cup.svg");
  height: 50px;
  width: 50px;
  background-position: center;
  background-size: cover;
}
